<mat-paginator
  [length]="taskResource.value()?.totalCount"
  [pageSize]="PAGE_SIZE"
  (page)="handlePageEvent($event)"
  [hidePageSize]="true"
  [showFirstLastButtons]="true"
/>

@if (taskResource.error()) {
  <p>Failed to retrieve tasks. Please try again.</p>
  <p>{{taskResource.error()?.message}}</p>
  <button (click)="taskResource.refresh()">Refresh</button>
}

@if (taskResource.isLoading()) {
  <div class="shade">
    <mat-spinner />
  </div>
}

<section class="task-list">
  @if (showCreate() && paginator().pageIndex === 0) {
  <app-new-task-card (cancelHandler)="showCreate.set(false)" (saveHandler)="taskCreated()"></app-new-task-card>
  } @for (task of taskResource.value()?.data; track task.id) {
  <app-task-card [initialTaskValue]="task" (deleteTaskEvent)="deleteTask($event)"></app-task-card>
  }
</section>

<button [disabled]="showCreate()" (click)="showCreate.set(true)" aria-label="Create task button" mat-fab>
  <mat-icon>add</mat-icon>
</button>
