<div class="home-page-container">
  <div class="main-content">
    <h1 class="app-title">The Greatest Mediocre To-Do App of all time</h1>
    <p class="subheading">Your incredibly bloated task manager,,, Lookout Windows here I come</p>

    <section class="hero">
      <h2>YOUR not Welcome!</h2>
      <p>Struggle to Keep track of your tasks effortlessly. Log in to feed me your data.</p>
      <button routerLink="/login" class="login-button">Log In</button>
    </section>
  </div>

  <footer class="footer">
    <p>&copy; 3048 Don't-Do App. All lefts reserved.</p>
  </footer>
</div>

